@model SystemSettingView


@{
    //String query = Request.QueryString.Count > 0 ? "?" + Request.QueryString : "";
    //String controller = ViewContext.RouteData.Values["controller"] as String;
    //String action = ViewContext.RouteData.Values["action"] as String;
    String id = ViewContext.RouteData.Values["id"] as String;
}

<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Headers.AdministrationSystemSettings </h2>
                      
                        @if (Html.IsAuthorizedFor("Edit"))
                        {
                            <div class="widget-toolbar">
                                <a class="btn btn-xs btn-default" href="@Url.Action("Edit", new { Model.Id })">
                                    <i class="fa fa-pencil"> </i><span class="text"> @Actions.Edit</span>
                                </a>
                            </div>
                        }


                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<div class="widget-action">
                                    @if (Html.IsAuthorizedFor("Create"))
                                    {
                                        <a class="btn" href="@Url.Action("Create")">
                                            <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                                        </a>
                                    }
                                </div>*@

                            @using (Html.BeginForm("Delete", "SystemSettings", new { area = "Administration", Id = id }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <fieldset>
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="control-label col-sm-12 col-md-3 col-lg-2">
                                            @Html.FormLabelFor(model => model.ValueType)
                                        </div>
                                        <div class="control-content col-sm-12 col-md-9 col-lg-5">
                                            @Html.FormTextBoxFor(model => model.ValueType)
                                        </div>
                                        <div class="control-validation col-sm-12 col-lg-5">
                                            @Html.ValidationMessageFor(model => model.ValueType)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-12 col-md-3 col-lg-2">
                                            @Html.FormLabelFor(model => model.ValueString)
                                        </div>
                                        <div class="control-content col-sm-12 col-md-9 col-lg-5">
                                            @Html.FormTextBoxFor(model => model.ValueString)
                                        </div>
                                        <div class="control-validation col-sm-12 col-lg-5">
                                            @Html.ValidationMessageFor(model => model.ValueString)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-12 col-md-3 col-lg-2">
                                            @Html.FormLabelFor(model => model.ValueInt)
                                        </div>
                                        <div class="control-content col-sm-12 col-md-9 col-lg-5">
                                            @Html.FormTextBoxFor(model => model.ValueInt)
                                        </div>
                                        <div class="control-validation col-sm-12 col-lg-5">
                                            @Html.ValidationMessageFor(model => model.ValueInt)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-12 col-md-3 col-lg-2">
                                            @Html.FormLabelFor(model => model.ValueFloat)
                                        </div>
                                        <div class="control-content col-sm-12 col-md-9 col-lg-5">
                                            @Html.FormTextBoxFor(model => model.ValueFloat)
                                        </div>
                                        <div class="control-validation col-sm-12 col-lg-5">
                                            @Html.ValidationMessageFor(model => model.ValueFloat)
                                        </div>
                                    </div>

                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                <i class="fa fa-chevron-left"></i>
                                                @Actions.Back
                                            </button>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                @Actions.Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->
</div>
