@model SystemSettingView

<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Headers.AdministrationSystemSettings </h2>
                        
                        @if (Html.IsAuthorizedFor("Delete"))
                        {
                            <div class="widget-toolbar">
                                <a class="btn btn-xs btn-default" href="@Url.Action("Delete", new { Model.Id })">
                                    <i class="fa fa-times"></i><span class="text"> @Actions.Delete</span>
                                </a>
                            </div>
                        }

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<div class="widget-action">
                                    @if (Html.IsAuthorizedFor("Create"))
                                    {
                                        <a class="btn" href="@Url.Action("Create")">
                                            <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                                        </a>
                                    }
                                </div>*@
                            @Html.Partial("_Form", Model)
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->
</div>