@model RoleView

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th-list"></span>
            <h5>@Headers.AdministrationRoles</h5>
            <div class="widget-title-buttons">
                @if (Html.IsAuthorizedFor("Details"))
                {
                    <a class="btn" href="@Url.Action("Details", new { Model.Id })">
                        <i class="fa fa-info"></i><span class="text">@Actions.Details</span>
                    </a>
                }
                @if (Html.IsAuthorizedFor("Edit"))
                {
                    <a class="btn" href="@Url.Action("Edit", new { Model.Id })">
                        <i class="fa fa-pencil"></i><span class="text">@Actions.Edit</span>
                    </a>
                }
            </div>
        </div>
        <div class="widget-content">
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.Title)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.FormTextBoxFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-12 col-md-3 col-lg-2">
                    @Html.FormLabelFor(model => model.Permissions)
                </div>
                <div class="control-content col-sm-12 col-md-9 col-lg-5">
                    @Html.JsTreeFor(model => model.Permissions)
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="form-actions col-sm-12 col-lg-7">
                        <input class="btn btn-primary" type="submit" value="@Actions.Submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
