@model IQueryable<SubjectClassView>

@{
    Semester currentSemester = ViewBag.CurrentSemester;
    StaffView teacherView = ViewBag.StudentView;
}
<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th"></span>
            <h5>@Headers.TeacherTeachingIndex</h5>
            <div class="widget-title-buttons">
                @*@if (Html.IsAuthorizedFor("Index"))
                    {
                        <a class="btn" href="@Url.Action("Index")">
                            <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                        </a>
                    }*@
            </div>
        </div>
        <div class="widget-content">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {
                    //columns.AddActionLink("Edit", "fa fa-pencil");
                    //columns.AddActionConfirmLink("Delete", "fa fa-times", @Messages.StudentSubjectUnregisterConfirmMessage);
                    columns.AddActionLink("Details", "fa fa-info");

                    columns.AddProperty(model => model.SubjectName);
                    columns.AddProperty(model => model.RoomOfClassCode);

                })
                .ApplyDefaults()
            )
        </div>
    </div>
</div>